<app-header></app-header>

<div class="container mt-5">
  <h1 class="text-center text-success mb-3">Merci pour votre commande !</h1>

  <h5 class="text-center">Votre commande est en cours de validation par nos équipes. </h5>

  <div class="card mt-5">
    <div class="card-body">
      <h4>Votre adresse de livraison : </h4>
      <h5> {{clientLivraison.prenom}} {{clientLivraison.nom}}</h5>
      <p>{{clientLivraison.adresse}}</p>
      <p>{{clientLivraison.codePostal}} {{clientLivraison.ville}}</p>
    </div>
  </div>


</div>

<app-footer></app-footer>
