.img-list-livre {
    max-height: 200px;
    align-self: center;
    width: auto;
}

.card-livre {
    padding-top: 20px;
}

.card-livre  button {
    visibility: hidden;
}
.card-livre:hover  button{
    visibility: visible;
}

.card-livre button:hover {
    border: 1px solid #ffc107;
    background-color: white;

}