<app-header></app-header>

<div class="container mt-5">
  <h1 class="text-center">Mon profil</h1>
  <div class="card">
    <div class="card-body">
      <div *ngIf="message">
        <p class="text-success">{{message}}</p>
      </div>
      <div *ngIf="error">
        <p class="text-success">{{message}}</p>
      </div>

      <form class="row g-3">
        <div class="col-md-12">
          <label class="form-label">Email</label>
          <input Disabled type="email" class="form-control" [(ngModel)]="clientSession.utilisateur.mail" name="mail"
            value="{{clientSession.utilisateur.mail}}">
        </div>
        <div class="col-md-6">
          <label class="form-label">Nom</label>
          <input type="text" class="form-control" [(ngModel)]="clientSession.nom" name="nom"
            value="{{clientSession.nom}}">
        </div>
        <div class="col-md-6">
          <label class="form-label">Prénom</label>
          <input type="text" class="form-control" [(ngModel)]="clientSession.prenom" name="prenom"
            value="{{clientSession.prenom}}">
        </div>
        <div class="col-12">
          <label class="form-label">Adresse</label>
          <input type="text" class="form-control" placeholder="36 chemin des lilas" [(ngModel)]="clientSession.adresse"
            name="adresse" value="{{clientSession.adresse}}">
        </div>

        <div class="col-md-6">
          <label class="form-label">Code postal</label>
          <input type="text" class="form-control" [(ngModel)]="clientSession.codePostal" name="codePostal"
            value="{{clientSession.codePostal}}">
        </div>
        <div class="col-md-6">
          <label class="form-label">Ville</label>
          <input type="text" class="form-control" [(ngModel)]="clientSession.ville" name="ville"
            value="{{clientSession.ville}}">
        </div>

        <div class="col-12 d-flex justify-content-center">
          <button type="submit" class="btn btn-warning mt-3" (click)="modifierProfil()">Modifier mon profil</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
