
<app-header></app-header>
<div class="card h-100  card-livre">
    <img src="../../assets/images/{{livre.image}}" class="card-img-top img-list-livre" alt="image de {{livre.titre}}">
    <div class="card-body d-flex flex-column align-items-center ">
      <p class="card-title">{{livre.titre}}</p>
      <p class="card-title">{{livre.description}}</p>
      <p class="card-text">{{livre.auteur.prenom!}}&nbsp;{{livre.auteur.nom}}</p>
      <p class="card-text">{{livre.prix}}&nbsp;€</p>
      
    </div>
  </div>
  
  <app-footer></app-footer>
