<app-header></app-header>

<div class="container mt-5">

  <h1 class="text-center mb-3">Se connecter</h1>

  <div class="card">
    <div class="card-body">
      <div *ngIf="message != 'Succès !'">
        <p class="text-danger">{{message}}</p>
      </div>
      <div *ngIf="message == 'Succès !'">
        <p class="text-success">{{message}}</p>
      </div>

      <form class="row g-3">
        <div class="col-md-12">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" placeholder="john.doe@gmail.com" [(ngModel)]="utilisateur.mail"
            name="email" required>
        </div>
        <div class="col-md-12">
          <label class="form-label">Mot de passe</label>
          <input required type="password" class="form-control" [(ngModel)]="utilisateur.mdp" name="mdp">
        </div>
        <div class="col-12 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" (click)="login()">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
