<app-header></app-header>

<div class="container mt-5 ">
  <h1 class="text-center mb-5">Tous nos livres de cet {{search | lowercase}}</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4 list-livre" *ngIf="listLivres">
    <div class="col" *ngFor="let livre of listLivres">
      <app-livre [livre]="livre"></app-livre>
    </div>

  </div>
  <br>
  <p class="text-center text-danger" *ngIf="listLivres?.length == 0"> Nous n'avons aucun livre correspondant a cet auteur
    {{search | lowercase }}
  </p>
</div>

<app-footer></app-footer>