<!-- COMPONENT HEADER -->
<app-header></app-header>

<!-- MAIN HOME - CAROUSEL - PROCHAINS WEBINARS -->
<div class="container mt-5">

  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/carousel1.jpg" class="d-block w-100"
              alt="Bienvenue le site de notre librairie">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/carousel2.jpg" class="d-block w-100" alt="Soirée évènement dédicace">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/carousel3.jpg" class="d-block w-100" alt="Prix nobel de littérature 2022">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col">
      <div class="card ">
        <div class="card-body bg-blue">
          <h5 class="card-title text-white">La librairie JeAmLa</h5>



        </div>
        <div class="card-body">

          <p class="card-text">
            Notre librairie se différencie par les conseils avisés de nos conseillers de vente. Faites-leurs part de vos
            dernières lectures et ils vous feront décourvir vos prochains livres préférés.<br><br>


          </p>
          <p class="card-text fw-bold">Les horaires</p>
          <p class="card-text"> Lundi : 09H00 - 18H00 <br>
            Mardi : 10H00 - 17H00 <br>
            Mercredi : 09H00 - 18H00 <br>
            Jeudi : 09H00 - 19H00 <br>
            Vendredi : 09H00 - 18H00 <br>
            Samedi : 09H00 - 20H00 <br>
            Dimanche : Fermeture</p>
        </div>


      </div>
    </div>
    <h1 class="text-center mt-5">Tous nos livres </h1>
  </div>


  <app-consulterleslivres></app-consulterleslivres>

  <!-- COMPONENT FOOTER -->
  <app-footer></app-footer>
